<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="../scripts/index.js"></script>
    <title>Home Page</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add new user</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Update List</a></li>
        </ul>
    </nav>

    <userlist>
        <table id="userTable">
            <tr>
                <th>Userid</th>
                <th>Username</th>
                <th>Course</th>
                <th>Purchase Date</th>
            </tr>
        </table>
    </userlist>
</body>

</html>